<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
	<div class="row">
		<div class="col-md-2"></div>

		<div class="col-md-6">
			<h1> Helpdesk Tickets </h1>
		</div>
		<div class="col-md-4"></div>

	</div>

	<div class="row>">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<table class="table">
				<thead>
					<th>Name</th>
					<th>Subject</th>
					<th>Priority</th>
					<th>Date Submitted</th>
					<th>Actions</th>
				</thead>

				{{#each ticket}}
					<tr data-id="{{this.idTicket}}">
						<td>{{this.name}}</td>
						<td>{{this.subject}}</td>
						<td>{{this.priority}}</td>
						<td>{{this.datesubmitted}}</td>
						<td>
							<a href="#" data-action="view">
								<i class="fa fa-eye" aria-hidden="true"></i>
							</a>
							<a href="#" data-action="complete">
								<i class="fa fa-check" aria-hidden="true"></i>
							</a>
							<a href="#" data-action="delete">
								<i class="fa fa-times" aria-hidden="true"></i>
							</a>
						</td>
					</tr>
				{{/each}}

			</table>
		</div> <!--COL-->
		<div class="col-md-2"></div>
	</div> <!--ROW-->
</div>


<div class="modal fade" id="ticket-content" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title"><span id="ticket-name"></span>&#58; &nbsp;<span id="modal-title"> </span></h3>
        <h4 id="ticket-priority" style="display: inline;"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="ticket-message"></p>
 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        {{!-- <button type="button" class="btn btn-primary">Save changes</button> --}}
      </div>
    </div>
  </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="/assets/js/helpers.js"></script>
<script type="text/javascript">
	const baseURL = "/api/";
	$('a').on('click', function(e) {
		e.preventDefault();
		let act = $(this).data('action');
		let id = $(this).parents('tr').data('id');
		switch (act) {
			case 'view':
				viewTicket(id);
				break;
			case 'complete':
				// console.log('complete');
				markComplete(id);
				break;
			case 'delete':
				console.log('delete');
				break;
		}
	})

	function viewTicket(id){
		get(baseURL + 'ticket/' + id)
		.then( data => {
			let tinfo = data[0];
			// console.log(data)
			$('#ticket-name').text(tinfo.name);
			$('#modal-title').text(tinfo.subject)
			$('#ticket-message').text(tinfo.message);
			$('#ticket-priority').text(tinfo.priority);
			$('#ticket-content').modal('show');
		})
		.catch( err => {
			console.log(err)
		})
	}

	function markComplete(id){
		post(baseURL + 'ticket/' + id)
		.then( result => {
			// console.log(result)
			location.reload();
		})
		.catch( err => {
			console.log(err)
		})
	}
</script>